.navbar{
   
    display: flex;
    width: 100%;
    background: rgb(131, 167, 131);
    border-radius: 14px;

}
.nav:hover{
    background: white;
    color: black;
}


.li{
   
    float: left;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
ul{
    list-style: none;
    overflow: none;
}
.nav{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bolder;
    
   
}


.article{
    border: 2px dotted black;
    background-color: aquamarines;
}
h2{
    margin-left: 2cm;
}
.live{
    text-decoration: none;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-style: italic;
}
 h1 {
    margin-left: 1cm;
    margin-top: 0cm;
}
footer{
    text-align: center;
    margin-top: 5cm;
}
a{
    margin-left: 75px;
}
.wel{
    margin-top: 1cm;
}

